<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vaminsurancebot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vaminsurancebot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VAMInsuranceBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$VAMInsuranceBot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ModelEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=db-server-angsu.database.windows.net;Initial Catalog=vam-db-server;User ID=dbadmin;Password=Qwerty!@34;Connect Timeout=50;Application Name=EntityFramework;ConnectRetryCount=5;ConnectRetryInterval=10" Name="Data Source=db-server-angsu.database.windows.net;Initial Catalog=vam-db-server;User ID=dbadmin;Password=Qwerty!@34;MultipleActiveResultSets=True;Connect Timeout=50;Application Name=EntityFramework;ConnectRetryCount=5;ConnectRetryInterval=10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VAMInsuranceBot.Models.ModelEntities, VAMInsuranceBot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=db-server-angsu.database.windows.net;Initial Catalog=vam-db-server;User ID=dbadmin;Password=Qwerty!@34;MultipleActiveResultSets=True;Connect Timeout=50;Application Name=EntityFramework;ConnectRetryCount=5;ConnectRetryInterval=10"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>